body {
        font-size: 87%;
    font-family: sans-serif;
    background-color: #FCFCFC;
}

.cell{
    border: none;
    width: 80px;
    font-size: 14px;
    padding: 2px;
}

.cell:hover {
    background-color: #eee;
}

.cell:focus {
    background-color: #ccf;
}

.cell:not(:focus) {
    text-align: right;
}

table {
    border-collapse: collapse;  
}

td {
    border: 1px solid #999;
    padding: 0;
}

tr:first-child td, td:first-child, .th{
    background-color: #ccc;
    padding: 1px 3px;
    font-weight: bold;
    text-align: center;
}

footer {
    font-size: 80%;
}

.btn {
    /* Structure */
    
    display: inline-block;
    *display: inline;
    /*IE 6/7*/
    /*width :80px;
    height:80px;*/
    /*zoom: 1;*/
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Firefox: Get rid of the inner focus border */

.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.btn {
    margin: 0.5%;
    font-family: inherit;
    font-size: 80%;
    *font-size: 80%;
    /*IE 6/7 - To reduce IE's oversized button text*/
    
    *overflow: visible;
    /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    
    padding: 0.5em 1em;
    color: #444;
    /* rgba not supported (IE 8) */
    
    color: rgba(0, 0, 0, 0.80);
    /* rgba supported */
    
    *color: #444;
    /* IE 6 & 7 */
    
    border: 1px solid #bbbbbb;
    /*IE9 + everything else*/
    
    background-color: #E6E6E6;
    text-decoration: none; //
    border-radius: 2px;
}
.btn-hover, .btn:hover, .btn:focus {
    background-color: #007CC0;
    color: white; 
/*    font-weight: bold;
*/    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}
.btn:focus {
    outline: 0;
}
.btn-active, .btn:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.20) inset;
}

.btn[disabled], .btn-disabled, .btn-disabled:hover, .btn-disabled:focus, .btn-disabled:active {
    border: none;
    background-image: none;
    filter: progid: DXImageTransform.Microsoft.gradient(enabled false);
    filter: alpha(opacity 40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}
.btn-hidden {
    display: none;
}
/* Firefox: Get rid of the inner focus border */

.btn::-moz-focus-inner {
    padding: 0;
    border: 0;
}
/*.btn-primary, .btn-selected, a.btn-primary, a.btn-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}
*/
.fileInput {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    /*This makes the button huge. If you want a bigger button, increase the font size*/
    
    /*font-size: 50px;*/
    /*Opacity settings for all browsers*/
    
    opacity: 0;
    -moz-opacity: 0;
    filter: progid: DXImageTransform.Microsoft.Alpha(opacity=0)
}

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 1px auto #129FEA;
}
.inputWrapper {
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 0.5%;
    margin-top: 0.5%;
    font-weight: normal;
    height: auto;
    width: 9%;
    text-align: center;
    float: left;
    /*margin-right: 185px;*/
    overflow: hidden;
    position: relative;
    cursor: pointer;
    /*Using a background color, but you can use a background image to represent a button*/
    
    background-color: #DDF;
    font-family: inherit;
    font-size: 80%;
    *font-size: 80%;
    /*IE 6/7 - To reduce IE's oversized button text*/
    
    *overflow: visible;
    /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    
    padding: 0.3em 0.3em;
    color: #444;
    /* rgba not supported (IE 8) */
    
    color: rgba(0, 0, 0, 0.80);
    /* rgba supported */
    
    *color: #444;
    /* IE 6 & 7 */
    
    border: 1px solid #999;
    /*IE 6/7/8*/
    
    border: 1px rgba(0, 0, 0, 0);
    /*IE9 + everything else*/
    
    background-color: #E6E6E6;
    text-decoration: none; //
    border-radius: 2px;
    border: 1px solid #bbbbbb;
}
.inputWrapper:hover {
    background-color: #007CC0;
    color: white;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.10)));
    background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.10));
    background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.10));
}

.otherInput {
    width : 18%;
    height: 4%;
    margin: 0.3%;
    font-size: 16px;
}
table {
    margin-bottom: 3%;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}